.App {
  background-color: #003a8b;
}

.title {
  position: relative;
  width: 815px;
  height: 52px;
  left: 348px;
  top: 20px;

  font-family: "Mali";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 52px;
  text-align: center;

  color: #fffdfd;

  background: rgba(249, 0, 149, 0.381);
}

.Form {
  border-bottom: 10px inset #00f9cc;
  margin-top: 20px;
}
.userNameLabel {
  position: relative;
  font-family: "Mali";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 52px;
  padding-bottom: 50px;

  /* identical to box height */

  color: #ffffff;
}
